<launch>
	<arg name="frame_rate" default = "30" />
	<arg name="cam_count" default = "2" />
	<arg name="usb_mobile_app_enable" default = "false" />
	
	<param name="frame_rate" value="$(arg frame_rate)"/>
	<param name="cam_count" value="$(arg cam_count)"/>
	<param name="usb_mobile_app_enable" value="$(arg usb_mobile_app_enable)"/>

	<node pkg="lane_detector"
	  	  type="lane_detector.py"
	  	  name="lane_detector"
	  	  output="screen"
	>
    </node>


	<node if="$(eval usb_mobile_app_enable == true)" pkg="lane_detector"
	  	  type="mobile_app_lane_departure_data_send.py"
	  	  name="mobile_app_lane_departure"
	  	  output="screen"
	>
    </node>

    <!-- <node 	pkg="rviz"
            type="rviz"
            name="$(anon rviz)"
            output="screen"
            args="-d /home/fyp/catkin_ws/src/lane_detector/rviz/single_cam_rviz_config.rviz"

    ></node> -->

</launch>
